ul a{
    text-decoration: none;
}
ul a{
    padding: 25px ;
}
header{
    background-color:rgba(15, 201, 111, 0.545);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,cursive;
    font-size: large;
}
ul a{
    color: rgba(25, 163, 140, 0.816);
}
ul a{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    color: olive;
}
#home{
    text-align: center;
}
#bio{
    text-align: center;
}
#portfolio{
    text-align: center;
}
#resume{
    text-align: center;
}

ul{
    text-align: center;}
ol {
    text-align: center;
}    
#contact{
  background-image: linear-gradient(to right, rgba(209, 138, 205, 0), rgb(218, 117, 117));
}
#web{
  background-image: linear-gradient(to right, rgba(209, 138, 205, 0), rgb(176, 35, 35));
}
#portfolio{
  background-image: linear-gradient(to right, rgba(209, 138, 205, 0), rgba(219, 148, 187, 0.812));
}
#profile{
  background-image: linear-gradient(to right, rgba(209, 138, 205, 0), rgba(219, 148, 187, 0.522));
}
footer{
    background-color: rgb(89, 170, 157);
    color: aliceblue;
    
}